@model IEnumerable<Rolling_Tavern.Models.BoardGame>

@{
    ViewData["Title"] = "Index";
}

<div class="container page-content">
    <div class="row justify-content-md-center" style="margin-left:auto; margin-right:auto;">
        @if (Model?.Any() == true)
        {
            @foreach (var boardGame in Model)
            {
               
                    <div class="col-sm-4">
                        <div class="card" style="margin-bottom: 30px; margin-left: 20px; width: 275px; height: 440px; border-radius: 10px; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);">
                            <div style="margin-left:auto; margin-right:auto;">
                                @if (boardGame.Images.Count() != 0)
                                {
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">

                                            @for (int i = 0, j = 0; i < 1; i++)
                                            {
                                                @foreach (var photo in boardGame.Images)
                                                {
                                                    
                                                    @if (j == 0)
                                                    {
                                                        <div class="carousel-item active">
                                                            <img src="@photo.ImagePath" class="d-block w-100">
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="carousel-item">
                                                            <img src="@photo.ImagePath" class="d-block w-100">
                                                        </div>
                                                    }
                                                    j++;
                                                }
                                                

                                            }
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden"></span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden"></span>
                                        </button>
                                    </div>


                                }
                                else
                                {
                                    <img class="card-img-top" src="~/BoardGamesPicture/defaultBoardGame.jpg" style="max-height: 160px; max-width: 275px">
                                }
                            </div>
                            <a href="/BoardGames/Details/@boardGame.GameId">
                                <div class="card-body" style="text-align:center">
                                    <h5 class="card-title">@boardGame.GameName</h5>
                                    <h6 class="card-text">@boardGame.Genre</h6>
                                    <h6 class="card-text">@boardGame.Description</h6>
                                    <h6 class="card-text">@boardGame.MinAmountOfPlayers</h6>
                                    <h6 class="card-text">@boardGame.MaxAmountOfPlayers</h6>
                                    <h6 class="card-text">@boardGame.MinGameTime</h6>
                                    <h6 class="card-text">@boardGame.MaxGameTime</h6>
                                    <h6 class="card-text">@boardGame.MinAgeOfPlayers</h6>

                                </div>
                            </a>

                        </div>

                    </div>
                
            }
        }
    </div>
</div>