@model IEnumerable<Rolling_Tavern.Models.Meeting>
@{ 
    ViewData["Title"] = "Meeting";
} 
<div class="container page-content" >
    <div class="row justify-content-md-center" style="margin-left:auto; margin-right:auto;">
        @if (Model?.Any() == true)
        {
            @foreach (var meeting in Model)
            {
        <a href="/Meeting/Details/@meeting.MeetingId">
            <div class="col-sm-4">
                <div class="card" style="margin-bottom: 30px; margin-left: 20px; width: 275px; height: 380px; border-radius: 10px; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);">
                    <div style="margin-left:auto; margin-right:auto; margin-top: 5px;">
                        @if (meeting.PhotoLink != null)
                        {
                            <img class="card-img-top" src="@meeting.PhotoLink" style="max-height: 160px; max-width: 275px">
                        }
                        else
                        {
                            <img class="card-img-top" src="~/BoardGamesPicture/defaultBoardGame.jpg" style="max-height: 160px; max-width: 275px">
                        }
                    </div>
                    <div class="card-body" style="text-align:center">
                        <h5 class="card-title">@meeting.MeetingName</h5>
                        @if (meeting.CreatorId != null)
                        {
                            <h6 class="card-text">@meeting.Creator.FirstName<img src="~/images/crown.png" style="height: 30px; margin-bottom: 1%; display: inline-block; width: 30px" /></h6>
                        }
                        else
                        {
                            <h6 class="card-text">Deleted User<img src="~/images/crown.png" style="height: 30px; margin-bottom: 1%; display: inline-block; width: 30px" /></h6>
                        }
                        @if (meeting.MinimalAge != null)
                        {
                            <h6 class="card-text"><img src="~/images/DefaultUser.png" style=" margin-bottom: 1%; height: 30px; display: inline-block; margin-left: 1%; width: 30px" /> @meeting.Requests.Count(i => i.StateId == 2)/@meeting.Game.MaxAmountOfPlayers  <img src="~/images/DefaultUser.png" style=" margin-bottom: 1%; height: 30px; display: inline-block; margin-left: 1%; width: 30px" />+@meeting.MinimalAge.Value</h6>
                        }
                        else
                        {
                            <h6 class="card-text"><img src="~/images/DefaultUser.png" style=" margin-bottom: 1%; height: 30px; display: inline-block; margin-left: 1%; width: 30px" /> @meeting.Requests.Count(i => i.StateId == 2)/@meeting.Game.MaxAmountOfPlayers  <img src="~/images/DefaultUser.png" style=" margin-bottom: 1%; height: 30px; display: inline-block; margin-left: 1%; width: 30px" />+@meeting.Game.MinAgeOfPlayers</h6>
                        }
                        <h6 class="card-text">@meeting.AddresOfMeeting</h6>
                        <h6 class="card-text">@meeting.DateOfMeeting</h6>
                        
                    </div>

                </div>
                
            </div>
        </a>  
            }
        }
    </div>
</div>