@using System.Linq
@model IEnumerable<Rolling_Tavern.Models.ApplicationUser>


<div class="page-content">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Ім'я</th>
            <th>Прізвище</th>
            <th>Нікнейм</th>
            <th>Пошта</th>
            <th>Телефон</th>
            <th colspan="2">Дія</th>

        </tr>
        </thead>


        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                
                <td><a asp-controller="UserProfile" asp-action="Index" asp-route-id="@user.Id" class="btn btn-outline-dark" role="button">Детальніше</a></td>

                @if (user.LockoutEnd > DateTimeOffset.Now)
                {
                    <td>

                        <form asp-action="UnbanUser" method="post">
                            <input type="hidden" name="id" value="@user.Id"/>
                            <input type="submit" class="btn btn-success" value="Разблокувати"/>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="BanUser" method="post">
                            <input type="hidden" name="id" value="@user.Id"/>
                            <input type="submit" class="btn btn-danger" value="Заблокувати"/>
                        </form>
                   
                    </td>
                }
                


            </tr>

        }
    </table>
    </div>