@using System.Linq
@model IEnumerable<Rolling_Tavern.Models.ApplicationUser>


<div class="page-content">
    <h1 class="my-5 text-center">Всі користувачі</h1>
    <table class="table mx-auto my-4" style="max-width: 95%;">
        <thead class="text-center text-white" style="background: rgba(28, 0, 19, 1)">
            <tr>
                <th>Фото профілю</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Нікнейм</th>
                <th>Рейтинг</th>
                <th>Пошта</th>
                <th>Телефон</th>
                <th colspan="2">Дія</th>

            </tr>
        </thead>


        @foreach (var user in Model)
        {
    <tr>
        <td>
            <img src="@user.ProfilePicture" class="mx-auto" style="height: 40px; width: 40px;" />
        </td>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>@user.UserName</td>
        <td>@user.Rating</td>
        <td>@user.Email</td>
        <td>@user.PhoneNumber</td>

        <td><a asp-controller="UserProfile" asp-action="Index" asp-route-id="@user.Id" class="btn btn-outline-dark" role="button">Детальніше</a></td>

        @if (user.LockoutEnd > DateTimeOffset.Now)
        {
            <td>

                <form asp-action="UnbanUser" method="post">
                    <input type="hidden" name="id" value="@user.Id" />
                    <input type="submit" class="btn btn-success" value="Разблокувати" />
                </form>
            </td>
        }
        else
        {
            <td>
                <form asp-action="BanUser" method="post">
                    <input type="hidden" name="id" value="@user.Id" />
                    <input type="submit" class="btn btn-danger" value="Заблокувати" />
                </form>

            </td>
        }



    </tr>

        }
    </table>
</div>