@using Rolling_Tavern.Models
@using Rolling_Tavern.Services
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var RatingImage = RatingManager.GetRatingImage(Model.UserInfo.Rating);
}
<style>
    section.profile {
        color: black;
        border: 1px solid black;
        height: auto;
        margin-left: 15%;
        border-radius: 10px;

    }
    .round {
        height: 50%;
        border-radius: 100px; /* Радиус скругления */
        border: 3px solid black; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
    }

    hr{
        margin: 5px 0px 5px 0px;
    }
    form button:hover {
        text-decoration:underline
    }

    p {
        font-family: 'Bluu Next Cyrillic';
        color: black;
    }
</style>

<section class="profile" style="background-color:white">

    <p>
        <center style="position: relative">
            <img src="@Model.UserInfo.ProfilePicture" alt="" class="round" style="height: 100px; width: 100px">
            <img src="@RatingImage" alt="" style="height: 35px; width: 35px; position: absolute; top: 65%; right: 30%">
        </center>
    </p>
    <p>
        <center>
            <p>@Model.UserInfo.FirstName
            <br />
            @Model.UserInfo.LastName
            <br />
            (@Model.UserInfo.UserName)
            </p>
        </center>
       
    </p>
    <hr />


    <ul class="nav nav-pills flex-column">
        <li class="nav-item" style="margin-top: 3%; margin-bottom: 3%;">
            <center>
                <a style="margin-top: 3%; margin-bottom: 3%; color: black " id="meeting-history" asp-page="/Account/Manage/Index">Історія зустрічей</a>
            </center>
            <hr style="margin-top: 3%; margin-bottom: 3%; "/>
        </li>
        <li class="nav-item" style="margin-top: 3%; margin-bottom: 3%; ">
            <center>
                <a style="margin-top: 3%; margin-bottom: 3%; color: black " id="profile" asp-page="./EditProfile">Редагувати профіль</a>
            </center>
                <hr style="margin-top: 3%; margin-bottom: 3%; "/>
        </li>
        <li class="nav-item" style="margin-top: 3%; margin-bottom: 3%; ">
            <center>
                <a style="margin-top: 3%; margin-bottom: 3%; color: black " id="profile" asp-page="./DeletePersonalData">Видалити профіль</a>
            </center>
            <hr style="margin-top: 3%; margin-bottom: 3%; "/>
        </li>
        <li class="nav-item" style="margin-top: 3%; margin-bottom: 3%; ">
            <center>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" id="email" style="border: 0px;font-size: 20px; font-family: 'Bluu Next Cyrillic'; margin-left: auto; margin-right: auto">Вийти</button>
                </form>
            </center>
            <hr style="margin-top: 3%; margin-bottom: 3%; "/>
        </li>

    </ul>
    <script>
        function goToProfile(input) {
            window.location.replace(input);
        };
    </script>

</section>

