@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<style>
    section.profileLeft {
        color: black;
        border: 1px solid black;
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }

    button {
        background-color: Transparent;
        border: 1px solid black;
    }
</style>
<section class="profileLeft" style="background-color:white">
    <h4><center> Минулі зустрічі </center></h4>

    <div>
        <ul class="nav nav-pills flex-column">
            <li>
                <img src="~/images/settings_icon.png" style="height: 30px; margin-left: 3%; margin-bottom: 1%; display: inline-block; width: 30px ">
                <img src="~/images/settings_icon.png" style="height: 30px; margin-left: 1%; margin-bottom: 1%; display: inline-block; width: 30px ">
                <h5 style="display: inline-block; margin-left: 1%">Dungeons & Dragons</h5>
                <h5 style="display: inline-block; margin-left: 1%">проспект Науки 67</h5>
                <h5 style="display: inline-block; margin-left: 1%">26.10.2121</h5>
                <img src="~/images/settings_icon.png" style=" margin-bottom: 1%; height: 30px; display: inline-block; margin-left: 1%; width: 30px">
                <h5 style="display: inline-block">2/4</h5>
                <button style="margin-left: 1%" ; display: inline-block;">Details</button>

            </li>
            <li>
                <img src="~/images/settings_icon.png" style="height: 30px; margin-left: 3%; margin-bottom: 1%; display: inline-block; width: 30px ">
                <img src="~/images/settings_icon.png" style="height: 30px; margin-left: 1%; margin-bottom: 1%; display: inline-block; width: 30px ">
                <h5 style="display: inline-block; margin-left: 1%">Dungeons & Dragons</h5>
                <h5 style="display: inline-block; margin-left: 1%">проспект Науки 67</h5>
                <h5 style="display: inline-block; margin-left: 1%">26.10.2121</h5>
                <img src="~/images/settings_icon.png" style=" margin-bottom: 1%; height: 30px; display: inline-block; margin-left: 1%; width: 30px">
                <h5 style="display: inline-block">2/4</h5>
                <button style="margin-left: 1%" ; display: inline-block;">Details</button>

            </li>
        </ul>
    </div>

    @*
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
            <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
            <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
            @if (hasExternalLogins)
            {
                <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
            }
            <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
            <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
        </ul>*@
</section>